body {
  margin: 0;
  padding: 0;
}

@media (max-width: 807px) {
  #root {
    width: 100%;
    margin: 0 auto;
    color: #303133;
  }
}

@media (min-width: 808px) and (max-width: 1007px) {
  #root {
    width: 100%;
    margin: 0 auto;
    color: #303133;
  }
}

@media (min-width: 1008px) {
  #root {
    width: 1342px;
    margin: 0 auto;
    color: #303133;
  }
}


a {
  color: #303133;
  text-decoration: none;
}